@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");

$colors: (
    one: #B2EAA9,
    two: #8ED6F5,
    three: #F0A4A4,
    four: #FDDBA8
);

@function color($name) {
    @return map-get($colors, $name)
};

html {
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar{
    display: none; /* Safari and Chrome */
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

section {
    scroll-snap-align: start;
    text-align: center;
    padding: .8em 1.2em;
    height: calc(100vh - 1.6em);
 
    &:nth-of-type(1){background: color(one)}
    &:nth-of-type(2){background: color(two)}
    &:nth-of-type(3){background: color(three)}
    &:nth-of-type(4){background: color(four)}
}

p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hide-mobile {
    display: none;
}

.jobs{
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
}
