@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+SC");

$colors: (
    0: #B2EAA9,
    1: #B2EAA9,
    2: #8ED6F5,
    3: #F0A4A4,
    4: #FDDBA8,
    text: #3D453B
);

$radius: 40px;
$skew: 4deg;
$layers: 4;

@function color($name) {
    @return map-get($colors, $name);
}

body {
    font-family: 'Montserrat', 'Noto Sans SC';
    background: linear-gradient(to bottom, color(0) 0%, color(0) 50%, color(4) 50%, color(4) 100%);
}

// Fullpage navigation colors.
#fp-nav ul li .fp-tooltip {
    color: color(text);
}

.section {
    margin: 1em 0 -4em 0;
    padding: .8em 0;
    border-top-left-radius: 40px;
    height: calc(100vh -1.6em);
    color: color(text);
    text-align: center;   
    transform: skewY(-$skew);

    @for $i from 1 to $layers + 1{
        &:nth-of-type(#{$i}){
            background: color($i)
        }
    }
}

.section > * {
    transform: skewY($skew);
}

// Square box on top-right of section
.section:before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: -39px;
    right: 0;
    z-index: -1;
    background-color: inherit;
}

// Circle on top-right of section
@for $i from 1 to $layers + 1{ 
    .section:nth-of-type(#{$i}):after{
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        top: -80px;
        right: 0;
        z-index: 1;
        background-color: color($i - 1);
    }
}

// Hi. I'm Lawrence
h1{
    margin: 0 auto;
    padding: 12vh 0 0 0;
    font-weight: normal;
    font-size: calc(min(8vw, 40px));
}

// A software developer based in...
.subheader {
    padding: .2em;
    font-size: calc(min(3.5vw, 17.5px));
    color: #000000;
}

.avatar {
    padding: 20vh 0 0 0;
    width: calc(min(50vw, 250px));
}

// Welcome to my site HTML element.
h2{
    padding: 15vh 0;
    font-family: 'Noto Sans SC';
    font-size: 0;
}

// Kamusta sa aking...
span:before{
    content: '';
    font-size: calc(min(7vw, 35px));
    animation: greet infinite 9s;
} 

@keyframes greet{
    0%, 100%{
        content: "欢迎来到我的网站!";
    }

    33%{
        content: "Kamusta sa aking websayt!"
    }

    66%{
        content: "Welcome to my site!";
    }
}

// Generic spacing
p, blockquote {
    line-height: 1.6em;
}

.bold{
    font-weight: bold;
}

// I am currently...
.subgreeting{
    color: black;
    position: absolute; 
    width: 95vw;
    top: 50vh;
    left: 50%;
    font-size: calc(min(3vw, 15px));
    transform: translate(-50%, -50%) skewY($skew);
}

// Things I've been paid to do
h3 {
    padding: 7vh 0 7vh 0;
    font-size: calc(min(5vw, 25px));
    font-weight: bold;
}

// Slides
.gallery {
    background: color(3);
}

/* position outside */
.flickity-prev-next-button.previous {
    top: 20vh;
}

.flickity-prev-next-button.next {
    top: 20vh;
}

.flickity-prev-next-button {
    background: transparent;
}

.flickity-prev-next-button .arrow {
    fill: white;
}

.flickity-prev-next-button:hover {
    background: transparent;
}

.flickity-prev-next-button:disabled {
    display: none;
}

/* white circles */
.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: white;
}
  
.gallery-cell {
    width: 100%;
    height: 60vh;
    margin-top: 10px;
    margin-right: 10px;
    background: color(3);
    counter-increment: gallery-cell;
}

.gallery-cell > img {
    height: calc(min(50vw, 250px));
    padding-bottom: 9vh;
}

.gallery-cell > p {
    line-height: 1.5em;
    font-weight: bold;
    font-size: calc(    min(5vw, 17px));
    margin: 0 auto;
    width: calc(min(75vw, 250px));
}


// If you would like to get in touch
.last{
    font-size: calc(min(5.5vw, 27.5px));
}

// feel free to email me at
.sub-last{
    padding: .3em;
    font-size: calc(min(4vw, 20px));
    margin: 0 2vw;
}

.links{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;
    width: calc(min(100vw, 500px));
}

.links li{
    position: relative;
    display: inline-block;
    padding: 10% 0 0 0;
    width: calc(min(27vw, 135px));
}

.links li img{
    width: 50%;
}

// 2020 Lawrence Ora
footer{
    position: absolute;
    padding: 1em 0;
    width: 100vw;
    height: 1em;
    bottom: 1em;
    background-color: color(text);
    color: white;
}


@media only screen and (min-width:875px){
    .jobs{
        display: flex;
    }
}